
<div class="col-sm-3 col-sm-offset-4">
    <div class="panel-group panel-group-div">
        <div class="panel">
            <div class="panel-heading panel-heading-div"><h4>{{data.companyName}}</h4>
            </div>
           <div id="text">
                <center>
                    <b>Activez votre compte</b>
                    <p id="para">pour decouvrir vod premiers candidats</p>
                </center>
            </div>
          <div class="panel-body panel-body-div">
                <form name="form" ng-submit="submit(user)" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : form.user_name.$invalid && !form.user_name.$pristine }">
                        <input type="text" class="form-control" placeholder="{{data.defaultName}}" name="user_name" ng-model="user.user_name" ng-change="change()" required>
                        <span ng-show="form.user_name.$dirty && form.user_name.$error.required" class="help-block">defaultNameis required</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : form.email.$invalid && !form.email.$pristine }">
                        <input type="email" class="form-control" placeholder="{{data.defaultEmail}}" name="email" ng-model="user.email" ng-change="change()" ng-pattern="/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/" required>
                        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">defaultEmail is required</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : form.text.$invalid && !form.text.$pristine }">
                        <input type="text" class="form-control" name="text" ng-model="user.text"  placeholder="Definir un mot de passe"  ng-change="change()" required>
                        <span ng-show="form.text.$dirty && form.text.$error.required" class="help-block">text is required</span>
                    </div>
                    <div class="checkbox" ng-class="{ 'has-error' : form.checkbox.$invalid && !form.checkbox.$pristine }">
                        <label><input type="checkbox" name="checkbox" id="box" ng-model="user.checkbox"  ng-change="change()" required>J'accepte les <a><u>CGU</u></a> de HireSweet</label>
                        <span ng-show="form.checkbox.$dirty && form.checkbox.$error.required" class="help-block">plz check checkbox</span>
                    </div>
                    <div  class="form-group">
                        <button type="submit" class="btn btn-success" ng-disabled="form.$invalid"><p id="log">Continuer &rarr; </p><span class="fa fa-arrow-right" ></span> 
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
   

